.Comment {
    text-align: center;
    border-top: solid thin lightgrey;
    padding-top: 10px;
}

.Comment:first-child {
    border:none;
}

.Comment-content {
    padding: 10px;
    margin-bottom: 15px;
}

.Comment-author {
    font-size: 1em;
    float: left;
    margin-right: 20px;
    width: 20%;
    text-align: right;
    padding:5px
}

.Comment-body {
    font-size: 1em;
    float: left;
    margin-right: 20px;
    width: 70%;
    text-align: left;
    border: 1px solid;
    padding:5px
}

.Comment-date {
    font-size: 1em;
    float: left;
    margin-right: 20px;
}
.Comment-buttons {
    font-size: 1.5em;
    float: right;
    padding-top: 10px;
}

.Comment-clear {
    clear: both;
}
